In [72]:
import pandas as pd
data = pd.read_csv("AlbumRankings.csv")
data.head()

,Midnights,Unnamed: 1,8.38,Utopia,Unnamed: 4,8.63,Pink Tape,Unnamed: 7,6.99,Her Loss,Unnamed: 10,9.53,808s & Heartbreak,Unnamed: 13,7.00
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lavender Haze,11.0,NaN,HYEANA,11.0,NaN,Flooded The Face,6.50,NaN,Rich Flex,9.25,NaN,Say You Will,9.0,NaN
2,Maroon,10.0,NaN,THANK GOD,8.5,NaN,Suicide Doors,6.75,NaN,Major Distribution,10.00,NaN,Welcome to Heartbreak,8.0,NaN
3,Anti-Hero,10.0,NaN,MODERN JAM,4.5,NaN,Aye (ft. Travis),7.00,NaN,On BS,10.00,NaN,Heartless,8.0,NaN
4,Snow On The Beach,8.5,NaN,MY EYES,8.0,NaN,Crush Em,7.75,NaN,BackOutsideBoyz,9.00,NaN,Amazing,7.0,NaN

1. Take out the unneeded columns
2. Take out the first row
3. Seperate the columns into the pairs with the name and rating
4. Clean each new dataframe
5. Combine and write to a new csv

In [73]:
# Take out the unneeded columns
keep = ['Midnights', 'Unnamed: 1', 'Utopia', 'Unnamed: 4', 'Pink Tape', 'Unnamed: 7', 'Her Loss', 'Unnamed: 10', '808s & Heartbreak', 'Unnamed: 13']
data = data[keep]
data

,Midnights,Unnamed: 1,Utopia,Unnamed: 4,Pink Tape,Unnamed: 7,Her Loss,Unnamed: 10,808s & Heartbreak,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lavender Haze,11.0,HYEANA,11.00,Flooded The Face,6.50,Rich Flex,9.25,Say You Will,9.0
2,Maroon,10.0,THANK GOD,8.50,Suicide Doors,6.75,Major Distribution,10.00,Welcome to Heartbreak,8.0
3,Anti-Hero,10.0,MODERN JAM,4.50,Aye (ft. Travis),7.00,On BS,10.00,Heartless,8.0
4,Snow On The Beach,8.5,MY EYES,8.00,Crush Em,7.75,BackOutsideBoyz,9.00,Amazing,7.0
...,...,...,...,...,...,...,...,...,...,...
70,NaN,NaN,get him back!,8.00,Clean,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,love is embarrassing,9.50,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,the grudge,9.25,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,pretty isnt pretty,9.25,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,teenage dream,10.00,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# Take out the first row
data = data.drop(0, axis='index')
data.head()

,Midnights,Unnamed: 1,Utopia,Unnamed: 4,Pink Tape,Unnamed: 7,Her Loss,Unnamed: 10,808s & Heartbreak,Unnamed: 13
1,Lavender Haze,11.0,HYEANA,11.0,Flooded The Face,6.50,Rich Flex,9.25,Say You Will,9.0
2,Maroon,10.0,THANK GOD,8.5,Suicide Doors,6.75,Major Distribution,10.00,Welcome to Heartbreak,8.0
3,Anti-Hero,10.0,MODERN JAM,4.5,Aye (ft. Travis),7.00,On BS,10.00,Heartless,8.0
4,Snow On The Beach,8.5,MY EYES,8.0,Crush Em,7.75,BackOutsideBoyz,9.00,Amazing,7.0
5,"You're On Your Own, Kid",9.0,GOD'S COUNTRY,7.0,Amped,3.50,Privilaged Rappers,10.00,Love Lockdown,3.0

In [75]:
# Seperate the columns into the pairs with the name and rating
col1 = data[['Midnights', 'Unnamed: 1']]
col2 = data[['Utopia', 'Unnamed: 4']]
col3 = data[['Pink Tape', 'Unnamed: 7']]
col4 = data[['Her Loss', 'Unnamed: 10']]
col5 = data[['808s & Heartbreak', 'Unnamed: 13']]

In [76]:
# Clean each new dataframe
col1.dropna(axis='index', inplace=True)
col2.dropna(axis='index', inplace=True)
col3.dropna(axis='index', inplace=True)
col4.dropna(axis='index', inplace=True)
col5.dropna(axis='index', inplace=True)
col1 = col1.rename(columns={'Midnights': 'song', 'Unnamed: 1' : 'value'})
col2 = col2.rename(columns={'Utopia': 'song', 'Unnamed: 4' : 'value'})
col3 = col3.rename(columns={'Pink Tape': 'song', 'Unnamed: 7' : 'value'})
col4 = col4.rename(columns={'Her Loss': 'song', 'Unnamed: 10' : 'value'})
col5 = col5.rename(columns={'808s & Heartbreak': 'song', 'Unnamed: 13' : 'value'})

C:\Users\User\AppData\Local\Temp\ipykernel_22012\1319713600.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col1.dropna(axis='index', inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_22012\1319713600.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col2.dropna(axis='index', inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_22012\1319713600.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col3.dropna(axis='index', inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_22012\1319713600.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col4.dropna(axis='index', inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_22012\1319713600.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  col5.dropna(axis='index', inplace=True)

In [88]:
# Combine and write to a csv
new_data = pd.concat([col1, col2, col3, col4, col5], axis='index', join='inner')
new_data.sort_index()
new_data.head(40)

                       song  value
1             Lavender Haze   11.0
2                    Maroon   10.0
3                 Anti-Hero   10.0
4         Snow On The Beach    8.5
5   You're On Your Own, Kid    9.0
6             Midnight Rain    7.0
7              Question...?    7.0
8              Vigilante S*    5.5
9                 Bejeweled   10.0
10                Labyrinth    6.0
11                    Karma   10.0
12            Sweet Nothing    6.0
13               Mastermind    9.0
16             Good Morning   10.0
17                 Champion   11.0
18                 Stronger    9.0
19                 I Wonder   11.0
20                Good Life   10.0
21    Can't Tell Me Nothing    9.0
22              Barry Bonds    7.0
23      Drunk and Hot Girls    7.0
24          Flashing Lights   11.0
25          Everything I Am   10.0
26                The Glory   10.0
27              Homecoming    10.0
28              Big Brother   10.0
29               Good Night    9.0
34                  Redline   12.0
56                   Plague    8.0
57                 Kerosene   11.0
58             Wrath Of God    8.0
59                Affection    5.0
60               Pale Flesh    5.0
61                 Sad Eyes    6.0
62                  Insulin    7.5
63              Transgender    9.0
64            Violent Youth    8.0
65                 Telepath    8.5
66                Mercenary    9.0
67    Child I Will Hurt You    7.5

In [83]:
# Write to a csv
new_data.to_csv("Cleaned.csv")